@model FridaExpo.Web.Models.visitante

@{
    ViewBag.Title = "Registro de Visitantes";
}


<header>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="menu_bar">
                <center><img src="~/img/LOGO FRIDA JEANS.png" height="70" width="180"></center>
                <span class="fa fa-bars" style="margin-top:-50px"></span>
            </div>
            <nav>
                <ul>
                    <li><a href="@Url.Action("Create", "Visitantes")"><span class="far fa-edit"></span>ALTA</a></li>
                    <li><a href="@Url.Action("Index", "Visitantes")"><span class="far fa-list-alt"></span>CONSULTA</a></li>
                    <li><a href="@Url.Action("Index", "Home")"><span class="fas fa-sign-out"></span>SALIR</a></li>
                </ul>

            </nav>

        </div>
    </div>
</header>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <script>
        function foo() {
            document.getElementById("carga").style.display = "inline";

        };
    </script>

    <script>
        $(document).ready(function () {
           // Obtener estados
                $.ajax({
                    type: "POST",
                    url: "/procesar-estados.php",
                    data: { estados : "Mexico" }
                }).done(function(data){
                    $("#jmr_contacto_estado").html(data);
                });
            // Obtener municipios
            $("#jmr_contacto_estado").change(function(){
                var estado = $("#jmr_contacto_estado option:selected").val();
                $.ajax({
                    type: "POST",
                    url: "/procesar-estados.php",
                    data: { municipios : estado }
                }).done(function(data){
                    $("#jmr_contacto_municipio").html(data);
                });
            });



        });
    </script>


    <div id="carga" style="display:none;position:fixed; margin-left:35%;margin-top:25%; z-index:100; background-color:white">
        <img src="~/img/25.gif" style="background:transparent center no-repeat" />
    </div>




    <div class="form-horizontal">
        <br />
        <br />
        <br />

        <br />
        <h2 class="text-fuchsia" style="text-align:right; margin-bottom:10px">de Visitantes </h2>
        <h2 class="text-fuchsia" style="text-align:right ; ">Registro </h2>
        <br />

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-lg-10">
                @Html.EditorFor(model => model.nombreCliente, new { htmlAttributes = new { @class = "form-control", @placeholder = "NOMBRE >", @style = "text-transform:uppercase" } })
                @Html.ValidationMessageFor(model => model.nombreCliente, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-10">
                @Html.EditorFor(model => model.nombreNegocio, new { htmlAttributes = new { @class = "form-control", @placeholder = "NEGOCIO >", @style = "text-transform:uppercase" } })
                @Html.ValidationMessageFor(model => model.nombreNegocio, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10">
                <select id="jmr_contacto_estado"><option>Selecciona tu estado</option></select>
                <select id="jmr_contacto_municipio"><option>Selecciona tu municipio</option></select>
            </div>
        </div>


        <div class="form-group">
            <div class="col-lg-10">
                @Html.EditorFor(model => model.domicilio, new { htmlAttributes = new { @class = "form-control", @placeholder = "DOMICILIO >", @style = "text-transform:uppercase" } })
                @Html.ValidationMessageFor(model => model.domicilio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-10">
                @Html.EditorFor(model => model.noExt, new { htmlAttributes = new { @class = "form-control", @placeholder = "NO. EXT. >", @style = "text-transform:uppercase" } })
                @Html.ValidationMessageFor(model => model.noExt, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-10">
                @Html.EditorFor(model => model.colonia, new { htmlAttributes = new { @class = "form-control", @placeholder = "COLONIA >", @style = "text-transform:uppercase" } })
                @Html.ValidationMessageFor(model => model.colonia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-10">
                @Html.EditorFor(model => model.cp, new { htmlAttributes = new { @class = "form-control", @placeholder = "C.P. >", @style = "text-transform:uppercase" } })
                @Html.ValidationMessageFor(model => model.cp, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-10">
                @Html.EditorFor(model => model.localidad, new { htmlAttributes = new { @class = "form-control", @placeholder = "LOCALIDAD >", @style = "text-transform:uppercase" } })
                @Html.ValidationMessageFor(model => model.localidad, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.estado, new { htmlAttributes = new { @class = "form-control", @placeholder = "ESTADO >", @style = "text-transform:uppercase" } })
                @Html.ValidationMessageFor(model => model.estado, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.tel, new { htmlAttributes = new { @class = "form-control", @placeholder = "TELEFONO >" } })
                @Html.ValidationMessageFor(model => model.tel, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.cel, new { htmlAttributes = new { @class = "form-control", @placeholder = "CELULAR >" } })
                @Html.ValidationMessageFor(model => model.cel, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.celDos, new { htmlAttributes = new { @class = "form-control", @placeholder = "CELULAR DOS >" } })
                @Html.ValidationMessageFor(model => model.celDos, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", @placeholder = "EMAIL >", @style = "text-transform:uppercase" } })
                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Registrar" class="btn btn-danger" onclick="return foo();" style="background-color:rgb(235, 75, 159)" />

            </div>
        </div>
    </div>

}


