@model IEnumerable<FridaExpo.Web.Models.visitante>

@{
    ViewBag.Title = "Index";
}

<header>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="menu_bar">
                <center><img src="~/img/LOGO FRIDA JEANS.png" height="70" width="180"></center>
                <span class="fa fa-bars" style="margin-top:-50px"></span>
            </div>
            <nav>
                <center>
                    <ul>
                        <li><a href="@Url.Action("Create", "Visitantes")"><span class="far fa-edit"></span>ALTA</a></li>
                        <li><a href="@Url.Action("Index", "Visitantes")"><span class="far fa-list-alt"></span>CONSULTA</a></li>
                        <li><a href="@Url.Action("Index", "Home")"><span class="fas fa-sign-out"></span>SALIR</a></li>
                    </ul>
                </center>
            </nav>

        </div>
    </div>
</header>
<div class="col-lg-12">
        
    <p class="col-lg-12 col-md-12">
        <p class="input-group">            
                <input type="text" class="form-control" placeholder="Buscar">
                <span class="input-group-btn">
                    <button class="btn btn-danger" type="button" style="background-color:rgb(235, 75, 159)">
                        <i class="fa fa-search"></i>
                    </button>
                </span>          
        </p>
    </div>

    <br />
    
    @foreach (var item in Model)
    {
        <div class="box box-success">
             <div class="box-body">
                
                 


                <div class="">

                    



                    <div class="col-lg-12 col-md-12  no-padding col-lista text-center">
                        
                        
                       
                        
                        
                        
                        <div class="col-lg-1 col-md-1 padding-8">
                            <dl class="">
                                <dt><i>@Html.DisplayFor(modelItem => item.nombreCliente)</i></dt>
                                <dd class="hidden-lg text-muted">Nombre</dd>
                            </dl>
                        </div>


                        <div class="col-lg-1 col-md-1 padding-8">
                            <dl class="">
                                <dt><i>@Html.DisplayFor(modelItem => item.nombreNegocio)</i> </dt>
                                <dd class="hidden-lg text-muted">Negocio</dd>
                            </dl>
                        </div>

                        <div class="col-lg-1 col-md-1 padding-8">
                            <dl class="">
                                <dt><i>@Html.DisplayFor(modelItem => item.tel)</i> </dt>
                                <dd class="hidden-lg text-muted">Tel</dd>
                            </dl>
                        </div>

                        <div class="col-lg-1 col-md-1 padding-8">
                            <dl class="">
                                <dt><i>@Html.DisplayFor(modelItem => item.cel)</i> </dt>
                                <dd class="hidden-lg text-muted">Cel</dd>
                            </dl>
                        </div>


                        <div class="col-lg-1 col-md-1 padding-8">
                            <dl class="">
                                <dt><i>@Html.DisplayFor(modelItem => item.email)</i> </dt>
                                <dd class="hidden-lg text-muted">Email</dd>
                            </dl>
                        </div>


                        <div class="col-lg-1 col-md-1 padding-8">
                            <dl class="">
                                <dt><a href="@Url.Action("Edit","Visitantes", new {id=item.idVisitante})"><i class="fa fa-pencil text-yellow"></i> </a>    <a href="@Url.Action("Details","Visitantes", new {id=item.idVisitante})"><i class="fa fa-eye text-blue"></i></a>     <a href="@Url.Action("Delete","Visitantes", new {id=item.idVisitante})"><i class="fa fa-trash text-maroon"></i></a>  </dt>

                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }


</div>

        